* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  transform-origin: right;
  transition-timing-function: cubic-bezier(0.52, 1.55, 0.5, -0.59);
}

.hours {
  width: 80px;
  border: 4px solid green;
  border-radius: 30px;
}

.minutes {
  width: 110px;
  border: 1px solid blue;
}

.seconds {
  width: 130px;
  border: 1px solid red;
}
